# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp

AlignAfterOpenBracket: Align 
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: Always
AllowAllArgumentsOnNextLine: true
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 80
ContinuationIndentWidth: 4
IndentWidth: 4
PointerAlignment: Right
ReflowComments: true
SortIncludes: true
SpaceInEmptyParentheses: false